In [122]:
import pandas as pd
import risk_tools as rt
import numpy as np

%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [123]:
returns = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv', header=0, index_col=0, parse_dates=True, na_values=-99.99)
returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [124]:
columns = ['Lo 10', 'Hi 10']
returns = returns[columns]
returns.head()

# because numbers are percent should be converted to raw numbers
returns = returns / 100
returns.head()

         Lo 10   Hi 10
192607 -0.0145  0.0329
192608  0.0512  0.0370
192609  0.0093  0.0067
192610 -0.0484 -0.0243
192611 -0.0078  0.0270

In [125]:
returns.std()

Lo 10    0.106288
Hi 10    0.053900
dtype: float64

In [129]:
annualize_volatility = returns.std() * np.sqrt(12)
annualize_volatility

Lo 10    0.368193
Hi 10    0.186716
dtype: float64

In [127]:
n_months = returns.shape[0]
returns_per_month = (returns + 1).prod() ** (1/n_months) - 1
returns_per_month

Lo 10    0.012986
Hi 10    0.007423
dtype: float64

In [128]:
total_returns = (returns + 1).prod() - 1
total_returns

Lo 10    1.659582e+06
Hi 10    3.674948e+03
dtype: float64

In [131]:
annualized_return = (returns_per_month + 1) ** 12 - 1
annualized_return

Lo 10    0.167463
Hi 10    0.092810
dtype: float64

In [133]:
annualized_return = (returns + 1).prod() ** (12/n_months) - 1
annualized_return

Lo 10    0.167463
Hi 10    0.092810
dtype: float64

In [135]:
annualized_return_risk_ratio = annualized_return / annualize_volatility
annualized_return_risk_ratio

Lo 10    0.454825
Hi 10    0.497063
dtype: float64

In [137]:
risk_free_rate = 0.03
excess_return = annualized_return - risk_free_rate
excess_return

Lo 10    0.137463
Hi 10    0.062810
dtype: float64

In [138]:
sharp_ratio = excess_return / annualize_volatility
sharp_ratio

Lo 10    0.373346
Hi 10    0.336392
dtype: float64