In [173]:
import pandas as pd
import risk_tools as rt
import numpy as np

%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [174]:
returns = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv',
                      header=0, index_col=0, parse_dates=True, na_values=-99.99)

returns.index = pd.to_datetime(returns.index, format='%Y%m')

returns.index = returns.index.to_period('M')

returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
1926-08,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
1926-09,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
1926-10,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
1926-11,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

What was the Annualized Return of the Lo 20 portfolio over the entire period?

In [175]:
rt.annualized_return(returns['Lo 20']) * 100

15.197701163833743

What was the Annualized Volatility of the Lo 20 portfolio over the entire period?

In [176]:
rt.annualized_volatility(returns['Lo 20']) * 100

33.67012751715775

What was the Annualized Return of the Hi 20 portfolio over the entire period?

In [177]:
rt.annualized_return(returns['Hi 20']) * 100

9.849020951253152

What was the Annualized Volatility of the Hi 20 portfolio over the entire period?

In [178]:
rt.annualized_volatility(returns['Hi 20']) * 100

19.511604155631314

What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [179]:
lo20_range_1999_2015 = returns['Lo 20']['1999':'2015']
rt.annualized_return(lo20_range_1999_2015) * 100

11.442634058514933

What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [180]:
rt.annualized_volatility(lo20_range_1999_2015) * 100

22.889447266699595

What was the Annualized Return of the Hi 20 portfolio over the period  1999 - 2015 (both inclusive)?

In [181]:
hi20_range_1999_2015 = returns['Hi 20']['1999':'2015']
rt.annualized_return(hi20_range_1999_2015) * 100

6.286512130085109

What was the Annualized Volatility of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [182]:
rt.annualized_volatility(hi20_range_1999_2015) * 100

17.271332121250474

What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the SmallCap (Lo 20) portfolio?

In [189]:
(rt.drawdown(lo20_range_1999_2015, 1000)['Drawdowns']).max()

0.0

At the end of which month over the period 1999-2015 did that maximum drawdown on the SmallCap (Lo 20) portfolio occur?

In [190]:
(rt.drawdown(lo20_range_1999_2015, 1000)['Drawdowns']).idxmax()

Period('1999-01', 'M')

What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the LargeCap (Hi 20) portfolio?

In [191]:
(rt.drawdown(hi20_range_1999_2015, 1000)['Drawdowns']).max()

0.0

Over the period 1999-2015, at the end of which month did that maximum drawdown of the LargeCap (Hi 20) portfolio occur?

In [192]:
(rt.drawdown(hi20_range_1999_2015, 1000)['Drawdowns']).idxmax()

Period('1999-01', 'M')

For the remaining questions, use the EDHEC Hedge Fund Indices data set that we used in the lab assignment and load them into Python. Looking at the data since 2009 (including all of 2009) through 2018 which Hedge Fund Index has exhibited the highest semideviation?

In [198]:
hfi = pd.read_csv('data/edhec-hedgefundindices.csv',
                  header=0, index_col=0, parse_dates=True)

hfi_after_2009 = hfi['2009':]
hfi_after_2009.head()

0.3320543832289375

Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has exhibited the lowest semideviation?

In [204]:
rt.semideviation(hfi_after_2009)

Convertible Arbitrage     0.668103
CTA Global                1.099578
Distressed Securities     0.949845
Emerging Markets          1.527598
Equity Market Neutral     0.518610
Event Driven              1.013464
Fixed Income Arbitrage    0.332054
Global Macro              0.507508
Long/Short Equity         1.213857
Merger Arbitrage          0.361121
Relative Value            0.571123
Short Selling             2.124006
Funds Of Funds            0.794842
dtype: float64

Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has been most negatively skewed?

In [207]:
rt.skewness(hfi_after_2009)

Convertible Arbitrage     1.305911
CTA Global                0.052062
Distressed Securities    -0.254944
Emerging Markets          0.033123
Equity Market Neutral    -0.896327
Event Driven             -0.488821
Fixed Income Arbitrage    1.121453
Global Macro              0.348184
Long/Short Equity        -0.463703
Merger Arbitrage         -0.551065
Relative Value            0.159953
Short Selling             0.456518
Funds Of Funds           -0.646908
dtype: float64

Looking at the data since 2000 (including all of 2000) through 2018 which Hedge Fund Index has exhibited the highest kurtosis?

In [211]:
hfi_after_2000 = hfi['2000':]
rt.kurtosis(hfi_after_2000)

Convertible Arbitrage     23.001449
CTA Global                 2.845022
Distressed Securities      6.231720
Emerging Markets           5.941289
Equity Market Neutral     20.329621
Event Driven               5.543444
Fixed Income Arbitrage    33.378729
Global Macro               3.653278
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Relative Value            12.731096
Short Selling              4.352758
Funds Of Funds             7.584725
dtype: float64